cache:
  - node_modules
  - '%APPDATA%\npm-cache'

install:
  - ps: Install-Product node 8 x64
  - npm i

test: off

for:
-
  branches:
    only:
      - master
  skip_non_tags: true

  build_script:
    - npm run rdp-ia32-release
    - npm run rdp-x64-release

# 这个是为了给审查打包，其内容和正式版是一样的
-
  branches:
    only:
      - check

  skip_non_tags: true

  build_script:
    - npm run rdp-ia32-check
    - npm run rdp-x64-check

-
  branches:
    only:
      - beta

  skip_non_tags: true

  build_script:
    - npm run rdp-ia32-beta
    - npm run rdp-x64-beta