body.win .welcome-page {
  // 解决顶部缝隙
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: #5A98D4;
  }
}
.welcome-page {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  background-color: #3b8bd8;
  z-index: 1;
  .content {
    position: absolute;
    top: 21.4%; right: 11.7%; bottom: 7.1%; left: 7.7%;
  }
  .bg-image {
    width: 416px;
    height: 295px;
    position: absolute;
    right: 0; top: 0;
  }
  .word-info {
    position: absolute;
    left: 0;
    top: 50px;
    line-height: 1;
    & > p {
      color: #fff;
      margin: 0;
    }
    .big {
      font-size: 36px;
      letter-spacing: 2.9px;
    }
    .small {
      font-size: 16px;
      letter-spacing: 1.43px;
    }
    p + p {
      margin-top: 20px;
    }
  }
  @media (min-width: 1900px) {
    .content {
      top: 19.1%; right: 8.1%; bottom: 8.5%; left: 8.4%;
    }
    .word-info {
      .big {
        font-size: 68px;
        letter-spacing: 5.53px;
      }
      .small {
        font-size: 28px;
        letter-spacing: 2.5px;
      }
    }
    .bg-image {
      width: 925px;
      height: 610px;
    }
  }
  @media (min-width: 1600px) and (max-width: 1900px) {
    .content {
      top: 18.9%; right: 10.3%; bottom: 13%; left: 10.8%;
    }
    .word-info {
      .big {
        font-size: 54px;
        letter-spacing: 4.39px;
      }
      .small {
        font-size: 20px;
        letter-spacing: 1.79px;
      }
    }
    .bg-image {
      width: 717px;
      height: 473px;
    }
  }
  @media (min-width: 1300px) and (max-width: 1600px) {
    .content {
      top: 21.5%; right: 11.9%; bottom: 13%; left: 7.8%;
    }
    .word-info {
      .big {
        font-size: 48px;
        letter-spacing: 3.9px;
      }
      .small {
        font-size: 20px;
        letter-spacing: 1.79px;
      }
    }
    .bg-image {
      width: 580px;
      height: 383px;
    }
  }
  .footer {
    position: absolute;
    left: 0; right: 0; bottom: 0;
    text-align: center;
    font-size: 0px;
    .more {
      line-height: 1;
    }
    .operate {
      margin-bottom: 27px;
    }
    .setting-btn {
      font-size: 14px;
      color: #FFF;
      letter-spacing: 0;
      cursor: pointer;
    }
    .login-btn {
      background-color: #81E71C;
    }
    .sign-btn {
      background-color: #fff;
      color: #55A8FD;
      margin-left: 40px;
    }
  }
}