@import "_base";
@import "animation";
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#main-iframe {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  border: none;
  width: 100%;
  height: 100%;
}
#loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-user-select: none;
  background-color: #fff;
  &.pure-color {
    background-color: #DDF1FF;
    .bg-header {
      display: none;
    }
  }
  .bg-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 62%;
    background-image: linear-gradient(-180deg,#1588FF 0,#06C4FF 100%);
    & > img {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 35%;
    }
    .logo {
      width: 88px;
      height: 88px;
      position: absolute;
      top: 35%;
      left: 50%;
      background: url(../img/logo.png) no-repeat center center;
      background-size: cover;
      transform: translate(-50%,-50%);
    }
  }
  // background: url(../img/bg.jpg) no-repeat center center fixed;
  // background-size: cover;
  .loading-splash {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f0f0f0;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.33);
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    border-radius: 100%;
    line-height: 64px;
    text-align: center;
    .tip {
      vertical-align: middle;
      width: 30px;
      height: 30px;
    }
  }
  .network-error {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f0f0f0;
    border: 1px solid #979797;
    border-radius: 4px;
    width: 398px;
    height: 52px;
    margin-left: -199px;
    margin-top: -26px;
    line-height: 52px;
    padding-left: 45px;
    cursor: pointer;
    .tip {
      font-family: NotoSansCJKsc-Medium;
      font-size: 18px;
      color: rgba(227,89,89,0.90);
    }
    .reload {
      vertical-align: middle;
      margin-top: -6px;
      margin-left: 18px;
    }
  }
}

#alert {
  position: absolute;
  left: 0; top: 0; right: 0;
  height: 0px;
  text-align: center;
  .content {
    display: inline-block;
    background: #fff;
    padding: 5px 10px;
    margin-top: 15px;
    border-radius: 3px;
    color: #f15c5c;
    box-shadow: 0px 0px 3px 0px #ddd;
  }
}
