@import "icon";
@import "_base";
@import "animation";
@import "welcome-page";
@import "modal";
@import "utils/utils";

#main-iframe {
  position: absolute;
  left: 0; top: 0px; right: 0; bottom: 0;
  border: none;
  width: 100%;
  height: 100%;
}
body.win {
  #main-iframe {
    top: 32px;
    height: calc(100% - 32px);
  }
}
#loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-user-select: none;
  background-image: linear-gradient(-179deg, #E4EDF5 0%, #D8ECFF 99%);
  &.pure-color {
    background: linear-gradient(0deg, #D8ECFF, #E4EDF5);
    .bg-header {
      display: none;
    }
  }
  .bg-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 62%;
    background-image: linear-gradient(-180deg,#1588FF 0,#06C4FF 100%);
    & > img {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 35%;
    }
    .logo {
      width: 88px;
      height: 88px;
      position: absolute;
      top: 35%;
      left: 50%;
      background: url(../img/logo.png) no-repeat center center;
      background-size: cover;
      transform: translate(-50%,-50%);
    }
  }
  // background: url(../img/bg.jpg) no-repeat center center fixed;
  // background-size: cover;
  .loading-splash {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f0f0f0;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.33);
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    border-radius: 100%;
    line-height: 64px;
    text-align: center;
    .tip {
      vertical-align: middle;
      width: 30px;
      height: 30px;
    }
  }
  .network-error {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f0f0f0;
    border: 1px solid #979797;
    border-radius: 4px;
    width: 398px;
    height: 52px;
    margin-left: -199px;
    margin-top: -26px;
    line-height: 52px;
    padding-left: 45px;
    cursor: pointer;
    .tip {
      font-family: NotoSansCJKsc-Medium;
      font-size: 18px;
      color: rgba(227,89,89,0.90);
    }
    .reload {
      vertical-align: middle;
      margin-top: -6px;
      margin-left: 18px;
    }
  }
}

#alert {
  position: absolute;
  left: 0; top: 0; right: 0;
  height: 0px;
  text-align: center;
  .content {
    display: inline-block;
    background: #fff;
    padding: 5px 10px;
    margin-top: 15px;
    border-radius: 3px;
    color: #f15c5c;
    box-shadow: 0px 0px 3px 0px #ddd;
  }
}
.drag-bar-mac {
  display: none;
  .traffic-lights {
    
  }

  .drag-bar {
    position: absolute;
    left: 80px;
    top: 0;
    height: 56px;
    width: calc(50% - 285px);
  }

  .drag-bar-2 {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 10px;
  }

  .drag-bar-3 {
    position: absolute;
    left: 0;
    top: 46px;
    right: 0;
    height: 10px;
  }
}
.traffic-lights.mac {
  position: absolute;
  left: 0; top: 0;
  height: 56px;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  width: 76px;
  align-items: center;
  padding: 0 12px;
  & > span {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    img {
      height: 12px;
      width: 12px;
      vertical-align: top;
    }
    img.hover {
      display: none;
    }
  }
  &:hover {
    img.normal {
      display: none;
    }
    img.hover {
      display: inline-block;
    }
  }
}
$bar-win-offset: 4px;
.drag-bar-win {
  display: none;
  position: absolute;
  left: 0; top: $bar-win-offset; right: 0;
  height: 32px - $bar-win-offset;
  background: #5A98D4;
  z-index: 2;
  .traffic-lights {
    position: absolute;
    right: 0;
    top: -$bar-win-offset;
    height: 32px;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    width: 130px;
    align-items: center;
    padding: 0 12px;
    & > span {
      display: inline-block;
      height: 12px;
      width: 12px;
      img {
        vertical-align: top;
      }
    }
  }
}

body.mac {
  .drag-bar-mac {
    display: block;
  }
}
body.win {
  background: #5A98D4;
  .drag-bar-win {
    display: block;
  }
  .traffic-lights.mac {
    display: none;
  }
  #loading, #alert {
    top: 32px;
  }
}
