// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1041;
  background-color: rgba(0, 0, 0, 0.4);
  .modal-content {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    overflow: auto;
    &.align-center {
      text-align: center;
    }
    &.align-middle {
      & > * {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    & > * {
      border-radius: 2px;
      background: #FFFFFF;
    }
  }
}
