<header>
  <span class="title">修改登录服务器</span>
  <button class="btn close modalClose"><i class="icon-cancel"></i></button>
</header>
<div class="logo">
  <img src="./img/server-setting.png">
</div>
<form>
  <div class="input-set">
    <label>官方服务器</label>
    <div class="input-wrap">
      <div class="radio-wrap">
        <input type="radio" name="server-type" value="officiel" {{setChecked 'officiel' server-type}}>
        <div class="track"></div>
      </div>
      <input type="url" name="officiel-server-name" placeholder="输入服务器地址" value="{{officiel-server-name}}" readonly>
    </div>
  </div>
  <div class="input-set">
    <label>自定义服务器</label>
    <div class="input-wrap">
      <div class="radio-wrap">
        <input type="radio" name="server-type" value="custom" {{setChecked 'custom' server-type}}>
        <div class="track"></div>
      </div>
      <input type="url" name="custom-server-name" placeholder="输入服务器地址" value="{{custom-server-name}}">
    </div>
  </div>
  <button type="button" class="btn save">保存</button>
</form>