<div class="content">
  <img class="bg-image" src="./img/welcome-bg.png">
  <div class="word-info">
    <p class="big">随时随地，条理清晰</p>
    <p class="big">即刻开始享受工作</p>
    <p class="small">你理想的工作方式 —日事清</p>
  </div>
  <div class="footer">
    <div class="operate">
      <button class="btn login-btn">登录</button>
      <button class="btn sign-btn">注册</button>
    </div>
  </div>
</div>