<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>下载管理</title>
  <link rel="stylesheet" type="text/css" href="../css/download.css">
</head>
<body>
  <div id="download">
    <div class="list">
      <ul>
        <download-item v-for="(file, index) in downloadingList" :key="index" :file="file" :downloaded="false" :file-type-image-url="getFileTypeImageUrl(file)" :cancel="cancel"></download-item>
        <download-item v-for="(file, index) in downloadedList" :key="index" :file="file" :downloaded="true" :file-type-image-url="getFileTypeImageUrl(file)" :open-item="openItem" :open-in-folder="openInFolder" :clear="clear"></download-item>
      </ul>
    </div>
    <div class="footer">
      <a class="clear-all" @click="clearAll()">清除全部记录</a>
    </div>
  </div>
	<script type="text/javascript" src="./main.js"></script>
</body>
</html>