.btn {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  width: 160px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 2px;
  padding: 0;
  letter-spacing: 3.15px;
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    background-color: #E0E0E0 !important;
    background-image: none;
  }
}