/* line 1, ../scss/_base.scss */
.hide {
  display: none !important;
}

/* line 1, ../scss/_animation.scss */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 8, ../scss/_animation.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 13, ../scss/_animation.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
/* line 49, ../scss/_animation.scss */
.rotate {
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* line 68, ../scss/_animation.scss */
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 83, ../scss/_animation.scss */
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-moz-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-o-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 102, ../scss/_animation.scss */
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

@-webkit-keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}
@-moz-keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}
@-o-keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}
@keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}
/* line 119, ../scss/_animation.scss */
.fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig;
}

/* line 3, ../scss/core.scss */
*, *::before, *::after {
  box-sizing: border-box;
}

/* line 6, ../scss/core.scss */
body {
  margin: 0;
}

/* line 9, ../scss/core.scss */
#main-iframe {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: none;
  width: 100%;
  height: 100%;
}

/* line 16, ../scss/core.scss */
#loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-user-select: none;
  background-color: #fff;
}
/* line 24, ../scss/core.scss */
#loading.pure-color {
  background: linear-gradient(0deg, #D8ECFF, #E4EDF5);
}
/* line 26, ../scss/core.scss */
#loading.pure-color .bg-header {
  display: none;
}
/* line 30, ../scss/core.scss */
#loading .bg-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 62%;
  background-image: linear-gradient(-180deg, #1588FF 0, #06C4FF 100%);
}
/* line 37, ../scss/core.scss */
#loading .bg-header > img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35%;
}
/* line 43, ../scss/core.scss */
#loading .bg-header .logo {
  width: 88px;
  height: 88px;
  position: absolute;
  top: 35%;
  left: 50%;
  background: url(../img/logo.png) no-repeat center center;
  background-size: cover;
  transform: translate(-50%, -50%);
}
/* line 56, ../scss/core.scss */
#loading .loading-splash {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #f0f0f0;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.33);
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
  border-radius: 100%;
  line-height: 64px;
  text-align: center;
}
/* line 69, ../scss/core.scss */
#loading .loading-splash .tip {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
/* line 75, ../scss/core.scss */
#loading .network-error {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #f0f0f0;
  border: 1px solid #979797;
  border-radius: 4px;
  width: 398px;
  height: 52px;
  margin-left: -199px;
  margin-top: -26px;
  line-height: 52px;
  padding-left: 45px;
  cursor: pointer;
}
/* line 89, ../scss/core.scss */
#loading .network-error .tip {
  font-family: NotoSansCJKsc-Medium;
  font-size: 18px;
  color: rgba(227, 89, 89, 0.9);
}
/* line 94, ../scss/core.scss */
#loading .network-error .reload {
  vertical-align: middle;
  margin-top: -6px;
  margin-left: 18px;
}

/* line 102, ../scss/core.scss */
#alert {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 0px;
  text-align: center;
}
/* line 107, ../scss/core.scss */
#alert .content {
  display: inline-block;
  background: #fff;
  padding: 5px 10px;
  margin-top: 15px;
  border-radius: 3px;
  color: #f15c5c;
  box-shadow: 0px 0px 3px 0px #ddd;
}
