/* line 1, ../scss/_base.scss */
*, *::before, *::after {
  box-sizing: border-box;
}

/* line 4, ../scss/_base.scss */
body {
  margin: 0;
}

/* line 7, ../scss/_base.scss */
html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Noto Sans", "Noto Sans CJK SC", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", SimSun, sans-serif;
}

/* line 10, ../scss/_base.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 15, ../scss/_base.scss */
.hide {
  display: none !important;
}

/* line 2, ../scss/download.scss */
#download {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
/* line 11, ../scss/download.scss */
#download .list {
  height: calc(100% - 40px);
  overflow: auto;
  overflow-x: hidden;
}
/* line 17, ../scss/download.scss */
#download ul {
  padding: 24px 20px 0 20px;
}
/* line 21, ../scss/download.scss */
#download .download-item + .download-item {
  margin-top: 27px;
}
/* line 24, ../scss/download.scss */
#download .footer {
  height: 40px;
  border-top: 1px solid #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 30, ../scss/download.scss */
#download .footer > a {
  font-size: 12px;
  color: #0689DD;
  cursor: pointer;
}

/* line 38, ../scss/download.scss */
.download-item {
  display: flex;
  align-items: center;
  height: 28px;
}
/* line 42, ../scss/download.scss */
.download-item > img {
  width: 24px;
  height: 28px;
}
/* line 46, ../scss/download.scss */
.download-item .info {
  flex: auto;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  padding-left: 16px;
  max-width: 208px;
}
/* line 54, ../scss/download.scss */
.download-item .info .name {
  font-size: 13px;
  color: #3D3D3D;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  max-width: 199px;
  text-overflow: ellipsis;
}
/* line 63, ../scss/download.scss */
.download-item .info .open {
  font-size: 12px;
  color: #6BC859;
  line-height: 1;
}
/* line 67, ../scss/download.scss */
.download-item .info .open a + a {
  margin-left: 16px;
}
/* line 70, ../scss/download.scss */
.download-item .info .open > a {
  cursor: pointer;
}
/* line 74, ../scss/download.scss */
.download-item .info .progress {
  width: 102px;
  height: 6px;
  border-radius: 3px;
  background: #EFEFEF;
  position: relative;
}
/* line 81, ../scss/download.scss */
.download-item .info .progress-bar {
  height: 100%;
  width: 0;
  background: #5BBBFC;
  border-radius: 3px;
}
/* line 87, ../scss/download.scss */
.download-item .info .percent {
  font-size: 12px;
  position: absolute;
  right: -3em;
  top: -3px;
  line-height: 1;
  color: #1BA4FF;
}
/* line 96, ../scss/download.scss */
.download-item .size {
  font-size: 12px;
  color: #666;
  white-space: nowrap;
  width: 5em;
  text-align: right;
}
/* line 103, ../scss/download.scss */
.download-item .operate {
  padding-left: 20px;
  cursor: pointer;
  white-space: nowrap;
}
/* line 108, ../scss/download.scss */
.download-item .cancel {
  font-size: 12px;
  color: #0689DD;
}
/* line 112, ../scss/download.scss */
.download-item .clear {
  font-size: 12px;
  color: #9B9B9B;
}
