/* line 1, ../scss/_base.scss */
*, *::before, *::after {
  box-sizing: border-box;
}

/* line 4, ../scss/_base.scss */
body {
  margin: 0;
}

/* line 7, ../scss/_base.scss */
html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Noto Sans", "Noto Sans CJK SC", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", SimSun, sans-serif;
}

/* line 10, ../scss/_base.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 15, ../scss/_base.scss */
.hide {
  display: none !important;
}

/* line 3, ../scss/preference.scss */
#preference {
  padding: 0 40px;
}

/* line 7, ../scss/preference.scss */
.section + .section {
  border-top: 1px solid #E0E0E0;
}

/* line 11, ../scss/preference.scss */
.section {
  padding: 28px 0;
}
/* line 13, ../scss/preference.scss */
.section .title {
  font-size: 13px;
  color: #B1B1B1;
}
/* line 17, ../scss/preference.scss */
.section .content {
  padding-top: 20px;
}
/* line 20, ../scss/preference.scss */
.section .item, .section .item-half {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 24, ../scss/preference.scss */
.section .item .name, .section .item-half .name {
  font-size: 14px;
  color: #3B3B3B;
}
/* line 28, ../scss/preference.scss */
.section .item > input[type="text"], .section .item > input[type="password"], .section .item-half > input[type="text"], .section .item-half > input[type="password"] {
  height: 30px;
  border-radius: 15px;
  border: 1px solid #ddd;
  padding: 0 15px;
  width: 148px;
  outline: none;
}
/* line 35, ../scss/preference.scss */
.section .item > input[type="text"][readonly], .section .item > input[type="password"][readonly], .section .item-half > input[type="text"][readonly], .section .item-half > input[type="password"][readonly] {
  background-color: #f7f7f7;
  cursor: default;
}
/* line 40, ../scss/preference.scss */
.section .item > select, .section .item-half > select {
  -webkit-appearance: none;
  height: 30px;
  outline: none;
  width: 148px;
  background: none;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-size: 12px;
  color: #8C8C8C;
  padding: 0 15px;
  background: url(../img/arrow.png) no-repeat scroll 124px center transparent;
}
/* line 54, ../scss/preference.scss */
.section .item.private-server input, .section .item-half.private-server input {
  width: 260px;
}
/* line 57, ../scss/preference.scss */
.section .item.download-path .r-input, .section .item-half.download-path .r-input {
  width: 260px;
}
/* line 61, ../scss/preference.scss */
.section .item.proxy-test button, .section .item-half.proxy-test button {
  width: 48px;
  height: 30px;
  background: #6BC859;
  border-radius: 15px;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 12px;
}
/* line 74, ../scss/preference.scss */
.section .item + .item {
  margin-top: 12px;
}
/* line 77, ../scss/preference.scss */
.section .item-half {
  width: 216px;
}
/* line 80, ../scss/preference.scss */
.section.restore-setting {
  padding-top: 0px;
}
/* line 82, ../scss/preference.scss */
.section.restore-setting .content {
  text-align: center;
}
/* line 84, ../scss/preference.scss */
.section.restore-setting .content button {
  height: 24px;
  width: 72px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  font-size: 13px;
  text-align: center;
  color: #b1b1b1;
  transition: color 0.2s ease;
  cursor: pointer;
  outline: none;
}
/* line 95, ../scss/preference.scss */
.section.restore-setting .content button:hover {
  color: #3B3B3B;
}
