/* line 1, ../scss/ui/switch.scss */
.r-switch {
  display: inline-flex;
  width: 29px;
  height: 18px;
  border-radius: 16px;
  position: relative;
}
/* line 7, ../scss/ui/switch.scss */
.r-switch input {
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  position: absolute;
}
/* line 14, ../scss/ui/switch.scss */
.r-switch .r-switch-track {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 16px;
  transition: all 0.2s ease;
  padding: 1px 0;
  padding-left: 1px;
}
/* line 24, ../scss/ui/switch.scss */
.r-switch .r-switch-track:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
}
/* line 33, ../scss/ui/switch.scss */
.r-switch input:checked + .r-switch-track {
  padding-left: 12px;
  background-color: #66c850;
}

/* line 1, ../scss/ui/input.scss */
.r-input {
  width: 180px;
  display: inline-flex;
  height: 30px;
  overflow: hidden;
}
/* line 7, ../scss/ui/input.scss */
.r-input > input {
  flex: 1 0 auto;
  border: 1px solid #DDDDDD;
  border-radius: 15px;
  padding-left: 15px;
  outline: none;
  width: 40px;
}
/* line 14, ../scss/ui/input.scss */
.r-input > input[readonly] {
  background-color: #f7f7f7;
  cursor: default;
}
/* line 19, ../scss/ui/input.scss */
.r-input.r-input-has-append > input {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 25, ../scss/ui/input.scss */
.r-input .r-input-append {
  width: 48px;
  background-color: #6BC859;
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}
/* line 37, ../scss/ui/input.scss */
.r-input .r-input-append:hover {
  opacity: 0.8;
}
