.r-input {
  width: 180px;
  display: inline-flex;
  height: 30px;
  overflow: hidden;

  & > input {
    flex: 1 0 auto;
    border: 1px solid #DDDDDD;
    border-radius: 15px;
    padding-left: 15px;
    outline: none;
    width: 40px;
    &[readonly] {
      background-color: #f7f7f7;
      cursor: default;
    }
  }
  &.r-input-has-append > input {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .r-input-append {
    width: 48px;
    background-color: #6BC859;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}